* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url('/images/bg/Game2\ Background.jpg');
}

.display-game {
  width: 100vw;
  height: 85vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 1vw;

}

.display-game1 {
  width: 10%;
  height: 80%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  border-right: 1px solid #ffff;
}

.display-game2 {
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vw 1vw;
}

.game2-div1 {
  width: 10%;
  height: 10%;
  /* background-color: blue; */
}

.game2-div1 .back {
  font-size: 1.5vw;
  font-weight: 700;
  margin-left: 2vw;
}

.back a {
  text-decoration: none;
  color: #fff;
}

.back a:hover {
  color: #999;
}

.game2-div2 {
  width: 25%;
  height: 40%;
  /* background-color: orange; */
  margin-left: 5vw;
}

.game2-div2 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.game2-div2 h4 {
  margin-top: .5vw;
  font-size: 1.5vw;
  color: #fff;
}

.stars {
  margin-top: .8vw;
  display: flex;
  gap: .9vw;
}

.stars i {
  font-size: 1.3vw;
  color: orange;
}

.stars p {
  font-size: 1.3vw;
  color: #fff;
  /* border-right: 1px solid #fff; */
  /* padding: .2vw; */
  font-weight: 500;
}

.game2-div3 {
  margin-top: 3vw;
  width: 100%;
  height: 15%;
  /* background-color: blueviolet; */
}


.game2-btns {

  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}



.game2-btns .btn1 {
  width: 60%;
  padding: 1.2vw 2vw;
  border-radius: 10px;
  border: none;
  outline: none;
}

.game2-btns .btn2 {
  padding: 1.2vw 2vw;
  border-radius: 10px;
  border: none;
  outline: none;
}

.game2-btns .btn3 {
  padding: 1.2vw 2vw;
  border-radius: 10px;
  border: none;
  outline: none;
}

.game2-btns button {
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 700;
  background-color: rgb(42, 42, 244);
  color: #fff;
}

.game2-btns button:hover {
  background-color: rgba(13, 13, 235, 0.7);
}

@media screen and (width > 300px) and (width < 900px) {
  .display-game1 {
    width: 30%;
    gap: 6vw;
  }

  .game2-div1 {
    width: 30%;
  }

  .game2-div1 .back {
    font-size: 5vw;
  }

  .game2-div2 {
    width: 100%;
    margin-left: 10vw;
  }

  .game2-div2 h4 {
    font-size: 5vw;
  }

  .stars {
    gap: 2vw;
  }

  .stars i {
    font-size: 4vw;
  }

  .stars p {
    font-size: 3vw;
  }

  .game2-btns .btn1 {
    width: 100%;
    padding: 3vw 5vw;
    font-size: 4vw;
  }

  .game2-btns .btn2,
  .game2-btns .btn3 {
    margin-top: 1vw;
    /* width: 100%; */
    padding: 3vw 5vw;
    font-size: 4vw;
  }
}

.progress {
  width: 100%;
  padding: 3vw 5vw;
  font-size: 4vw;
  position: relative;
  overflow: hidden;
}


.progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(9, 195, 9);
  z-index: 1;
  animation: progress 2s linear;
  transition: 1s;
}

@keyframes progress {
  0% {
    width: 0%;
  }


  65% {
    width: 70%;
  }

  85% {
    width: 72%;
  }


  100% {
    width: 150%;
  }
}